<footer class="page-footer blue accent-2 center-align">
    <div class="container">
        <div class="row">
        <div class="col s12">
            <p class="black-text"><strong>Created By David Schawel ©<%= new Date().getFullYear() %></strong></p>
        </div>
        </div>
    </div>
</footer>