<h1>Make A New Memory!</h1>

<div class="row">
    <form method="POST" action="/memory">
        <div class="row">
        <div class="form-group">
            <input type="text" class="form-control" id="name" name="name" required>
            <label for="name">Name</label>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="date" name="date" required>
            <label for="name">Date</label>
        </div>
        <div class="form-group col s4">
            <input type="text" class="form-control" id="city" name="city" required>
            <label for="city">City</label>
        </div>
        <div class="form-group col s4">
            <input type="text" class="form-control" id="state" name="state" required>
            <label for="state">State</label>
        </div>
        <div class="form-group col s4">
            <input type="text" class="form-control" id="country" name="country" required>
            <label for="country">Country</label>
        </div>
        <div class="form-group">
            <textarea type="text" class="form-control" id="description" name="description" required></textarea>
            <label for="description">Description</label>
        </div>
        <input type="hidden" name="userId" value="<%= user.id %>">
        <input type="submit" class="waves-effect waves-light btn green darken-3">
        </div>
    </form>
</div>

