html, body {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main {
    text-align: center;
}
h1, h3 {
    font-family: 'Permanent Marker', cursive;
}
footer {
    min-height: 10vh;
    width: 100vw;
    bottom: 0;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-around;
}
#map {
    position: center; 
    justify-content: center;
    top: 0; 
    bottom: 0; 
    left: 14%;
    height: 50vh;
    width: 50vw;
} 
.map-container {
    height: 50vh;
    width: 50vw;
    border: 5px solid black;
}

#logo {
    font-family: 'Permanent Marker', cursive;
}
#toast-container {
    left: 40% !important;
    right: auto !important;
    bottom: auto !important;
}