html, body {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main {
    text-align: center;
}
h1, h2, h3 {
    font-family: 'Permanent Marker', cursive;
}
footer {
    height: 10vh;
    width: 100vw;
    bottom: 0;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#map {
    position: center; 
    justify-content: center;
    top: 0; 
    bottom: 0; 
    left: 22%;
    height: 40vh;
    width: 40vw;
} 
.map-container {
    height: 40vh;
    width: 40vw;
    border: 5px solid black;
}
#info {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}
#logo {
    font-family: 'Permanent Marker', cursive;
}
#memory-image {
    height: 250px;
    width: 250px;
    border: 5px solid black;
}
#toast-container {
    left: 40% !important;
    right: auto !important;
    bottom: auto !important;
}